#nav-bar
{
	min-height: 36px !important;
	box-shadow: none !important;
	padding-left: 6px !important;
	padding-right: 6px !important;
}

#reload-button[disabled]:not(:-moz-window-inactive) > .toolbarbutton-icon
{
	opacity: 1 !important;
}

/* Windows */
#PanelUI-button
{
	border: none !important;
	margin: 0 !important;
}

#PanelUI-menu-button[badge-status|="update"] .toolbarbutton-badge
{
	display: none !important;
}

:root[privatebrowsingmode] #fxa-toolbar-menu-button
{
	pointer-events: none !important;
}

/* show "Private" label for en languages only */
:root[titlemodifier="(Private Browsing)"] #fxa-toolbar-menu-button::before
{
	content: "Private" !important;
	display: -moz-box !important;
	margin-inline-start: 12px !important;
	margin-inline-end: 6px !important;
}

#nav-bar-customization-target
{
	overflow: visible !important;
}

#urlbar-container,
#searchbar-container
{
	overflow: visible !important;
	padding: 0 5px !important;
}

.searchbar-textbox
{
	color: inherit !important;
	font-size: inherit !important;
	min-height: auto !important;
}

#urlbar,
#searchbar
{
	font-size: 14px !important;
	border-radius: 99px !important;
	background-color: var(--toolbar-field-background-color) !important;
	border: 0 !important;
	box-shadow: none !important;
	margin: 1px !important;
	padding: 2px !important;
	background-clip: padding-box !important;
	min-height: 28px !important;
	transition: background-color .1s var(--ease-basic) !important;
	-moz-box-align: center !important;
}

#urlbar:not(:-moz-lwtheme),
#searchbar:not(:-moz-lwtheme)
{
	color: inherit !important;
}

#urlbar:hover,
#searchbar:hover
{
	background-color: var(--toolbar-field-hover-background-color) !important;
}

#urlbar[focused],
#urlbar[open],
#searchbar[focused],
#searchbar[open]
{
	background-color: var(--toolbar-field-focus-background-color) !important;
}

#urlbar[focused],
#searchbar[focused]
{
	border: 2px solid var(--toolbar-field-focus-border-color) !important;
	padding: 1px !important;
	margin: 0 !important;
}

#urlbar[open],
#searchbar[open]
{
	border: 0 !important;
	padding: 0 8px 0 !important;
	border-radius: 8px 8px 0 0 !important;
	min-height: 37px !important;
	margin: 0 -5px -1px !important;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .2) !important;
	position: relative !important;
	z-index: 99999 !important;
}

/* mac-specific tweaks */
@media (-moz-mac-yosemite-theme)
{
	#urlbar[open],
	#searchbar[open]
	{
		box-shadow:
			0 3px 10px rgba(0, 0, 0, .2),
			0 0 1px rgba(0, 0, 0, .25) !important;
	}
}

#identity-box
{
	padding: 0 8px !important;
	margin: 0 !important;
	border: 0 !important;
	position: relative !important;
	background: 0 !important;
}

#urlbar[pageproxystate=valid] > #identity-box:not(.no-hover) > #identity-icon
{
	fill-opacity: 1 !important;
}

#identity-icon-labels
{
	padding-inline-start: 10px !important;
	color: inherit !important;
}

#urlbar[open] #identity-icon-labels
{
	display: none !important;
}

#urlbar[open] #identity-box
{
	pointer-events: none !important;
	margin-inline-end: 8px !important;
}

#urlbar[pageproxystate=valid]:not([open]) #identity-box:-moz-any(.notSecureText, .verifiedIdentity, .chromeUI, .extensionPage, .certUserOverridden),
#urlbar-display-box
{
	overflow: visible !important;
	margin-inline-end: 8px !important;
}

/* separator */
#urlbar[pageproxystate=valid]:not([open]) #identity-box:-moz-any(.notSecureText, .verifiedIdentity, .chromeUI, .extensionPage, .certUserOverridden)::after,
#urlbar-display-box::after
{
	content: "" !important;
	display: -moz-box !important;
	background: #9d9e9f !important;
	height: 16px !important;
	width: 1px !important;
	transform: translateX(8px) !important;
	transition: opacity .2s var(--ease-basic) !important;
}

#urlbar[pageproxystate=valid] #identity-box:-moz-any(.notSecureText, .verifiedIdentity, .chromeUI, .extensionPage, .certUserOverridden):hover:not(.no-hover)::after,
#urlbar[pageproxystate=valid] #identity-box:-moz-any(.notSecureText, .verifiedIdentity, .chromeUI, .extensionPage, .certUserOverridden)[open]::after
{
	opacity: 0 !important;
}

#identity-box.extensionPage > #identity-icon
{
	list-style-image: none !important;
	margin-inline-end: -16px !important;
}

/* no longer used as a connection icon */
#connection-icon
{
	display: none !important;
}

#identity-box:-moz-any(
.mixedActiveBlocked,
.mixedDisplayContentLoadedActiveBlocked,
.mixedActiveContent) > #connection-icon
{
	display: -moz-box !important;
}

#identity-box:-moz-any(.certUserOverridden, .insecureLoginForms)
{
	color: #c94031 !important;
}

.certUserOverridden #identity-icon-labels
{
	visibility: visible !important;
	display: -moz-box !important;
}

.certUserOverridden #identity-icon-labels::after
{
	content: "Not Secure" !important;
	display: -moz-box !important;
}

.urlbar-input
{
	padding: 0 !important;
}

.searchbar-textbox
{
	border: 0 !important;
	background: 0 !important;
	box-shadow: none !important;
	margin: 0 !important;
}

#page-action-buttons > #pageActionSeparator,
.urlbar-history-dropmarker
{
	display: none !important;
}

#pageActionSeparator
{
	height: 24px !important;
}

.urlbar-icon-wrapper
{
	background: 0 !important;
}

.urlbar-icon,
#identity-box
{
	min-width: 32px !important;
	height: 24px !important;
	padding: 0 8px !important;
	border-radius: 99px !important;
	fill-opacity: 1 !important;
	transition: background-color .2s var(--ease-basic);
	background-color: transparent !important;
}

.urlbar-icon
{
	padding: 4px 8px !important;
}

#urlbar[open] #page-action-buttons
{
	display: none !important;
}

.urlbar-icon:hover:not([disabled]),
#identity-box:hover:not(.no-hover)
{
	background-color: var(--toolbarbutton-hover-background) !important;
}

.urlbar-icon:hover:active:not([disabled]),
.urlbar-icon[open],
#identity-box:hover:active:not(.no-hover),
#identity-box[open]:not(.no-hover)
{
	background-color: var(--toolbarbutton-active-background) !important;
	transition-duration: 0 !important;
}

#star-button-box
{
	-moz-box-ordinal-group: 98 !important;
}

#pageActionButton
{
	-moz-box-ordinal-group: 99 !important;
}

.urlbar-page-action:-moz-any(
	#reader-mode-button,
	#pageActionButton,
	#pocket-button-box,
	#pageAction-urlbar-screenshots_mozilla_org,
	#pageAction-urlbar-sendToDevice,
	#pageAction-urlbar-emailLink,
	#pageAction-urlbar-copyURL,
	#pageAction-urlbar-shareURL,
	#pageAction-urlbar-addSearchEngine
)
{
	transition:
		background-color .2s var(--ease-basic),
		margin .15s var(--ease-in),
		opacity .15s var(--ease-basic),
		visibility 0s .2s !important;
	opacity: 0 !important;
	visibility: hidden !important;
	margin-inline-start: -32px !important;
}

#urlbar:hover .urlbar-page-action:-moz-any(
	#reader-mode-button,
	#pageActionButton,
	#pocket-button-box,
	#pageAction-urlbar-screenshots_mozilla_org,
	#pageAction-urlbar-sendToDevice,
	#pageAction-urlbar-emailLink,
	#pageAction-urlbar-copyURL,
	#pageAction-urlbar-shareURL,
	#pageAction-urlbar-addSearchEngine
),
.urlbar-page-action:-moz-any(
	#reader-mode-button,
	#pageActionButton,
	#pocket-button-box,
	#pageAction-urlbar-screenshots_mozilla_org,
	#pageAction-urlbar-sendToDevice,
	#pageAction-urlbar-emailLink,
	#pageAction-urlbar-copyURL,
	#pageAction-urlbar-shareURL,
	#pageAction-urlbar-addSearchEngine
):-moz-any(:hover, [open], [readeractive])
{
	transition:
		background-color .2s var(--ease-basic),
		margin .3s var(--ease-out),
		opacity .3s var(--ease-basic) !important;
	opacity: 1 !important;
	visibility: visible !important;
	margin-inline-start: 0 !important;
}

#pocket-button-box[animate] > #pocket-animatable-box
{
	margin-inline-start: 6px !important;
}

#star-button-animatable-box
{
	display: none !important;
}

#urlbar[open] .urlbar-go-button,
#searchbar[open] .search-go-button
{
	height: 32px !important;
}

.private-browsing-indicator
{
	display: none !important;
}

#PanelUI-button
{
	-moz-box-ordinal-group: 2 !important;
}

/* urlbar and searchbar autocomplete popup */
#PopupAutoCompleteRichResult
{
	background: 0 !important;
	margin-top: -4px !important;
	
	border: 0 !important;
	filter: drop-shadow(0 12px 6px rgba(0, 0, 0, .25)) !important;
	overflow: visible !important;
	padding-bottom: 28px !important;
}

#PopupAutoCompleteRichResult .autocomplete-richlistbox,
#PopupAutoCompleteRichResult [anonid="footer"]
{
	background-color: var(--toolbar-field-focus-background-color) !important;
	margin-inline-start: calc(var(--item-padding-start) + 20px - 0px) !important;
	margin-inline-end: calc(var(--item-padding-end) - 10px) !important;
}

#PopupAutoCompleteRichResult .autocomplete-richlistbox
{
	padding: 0 !important;
	/* comment to keep footer */
	border-radius: 0 0 8px 8px !important;
	overflow: hidden !important;
}

#PopupAutoCompleteRichResult .autocomplete-richlistitem
{
	border: 0 !important;
	border-radius: 0 !important;
	padding: 0 !important;
	height: 36px !important;
}

/* mac-specific tweaks */
@media (-moz-mac-yosemite-theme)
{
	#PopupAutoCompleteRichResult
	{
		filter: none !important;
		padding-bottom: 0 !important;
		margin-top: -3px !important;
	}
}

#PopupAutoCompleteRichResult .ac-type-icon
{
	display: none !important;
}

#PopupAutoCompleteRichResult .ac-site-icon
{
	margin-inline-start: 16px !important;
	margin-inline-end: 16px !important;
}

/* footer is hidden by default */
#PopupAutoCompleteRichResult [anonid="footer"]
{
	margin-top: -8px !important;
	border-radius: 0 0 8px 8px !important;
	/* comment to keep footer */
	display: none !important;
}

.search-panel-header,
.search-panel-one-offs
{
	background: 0 !important;
}

/* high DPI adjustments */
@media (min--moz-device-pixel-ratio: 2)
{
	#identity-icon-labels
	{
		padding-inline-end: .5px !important;
	}

	#identity-icon-labels,
	.urlbar-input,
	.searchbar-textbox
	{
		transform: translateY(-.5px) !important;
	}
}