#TabsToolbar
{
	padding-inline-end: 2px !important;
}

:-moz-any(.titlebar-placeholder, .titlebar-spacer)[type=pre-tabs]
{
	width: 0 !important;
}

@media (-moz-mac-yosemite-theme)
{
	#TabsToolbar
	{
		-moz-appearance: none !important;
	}
	
	:root:-moz-any([inFullscreen], [tabsintitlebar]) #TabsToolbar:not(:-moz-lwtheme)
	{
		background-color: #dee1e5 !important;
		color: #606367 !important;
		--toolbarbutton-hover-background: #cbced2 !important;
		--toolbarbutton-active-background: #bec0c5 !important;
	}
	
	:root:-moz-any([inFullscreen], [tabsintitlebar]) #TabsToolbar:not(:-moz-lwtheme):-moz-window-inactive
	{
		background-color: #e7eaed !important;
	}
	
	:-moz-any(.titlebar-placeholder, .titlebar-spacer)[type=pre-tabs]
	{
		width: 12px !important;
	}
}

@media (-moz-os-version: windows-win7)
{
	#TabsToolbar:not(:-moz-lwtheme)
	{
		color: #808387 !important;
		--toolbarbutton-hover-background: rgba(196, 198, 204, .8) !important;
		--toolbarbutton-active-background: #bec0c6 !important;
	}
	
	#TabsToolbar toolbarbutton:not(:-moz-lwtheme):not(:hover):not([open])
	{
		background-color: rgba(218, 220, 227, .8) !important;
	}
	
	.tabbrowser-tab:not([visuallyselected]) .tab-background:not(:-moz-lwtheme)
	{
		fill: rgba(218, 220, 227, .8) !important;
		fill-opacity: 1 !important;
	}
	
	.tabbrowser-tab:hover:not([visuallyselected]) .tab-background:not(:-moz-lwtheme)
	{
		fill: #e9ebef !important;
	}
}

 /* < FF 65, >= FF 65 */
:-moz-any(.titlebar-placeholder, .titlebar-spacer)
{
	border: 0 !important;
}

:-moz-any(.titlebar-placeholder, .titlebar-spacer)[type=pre-tabs]
{
	display: -moz-box !important;
}

:-moz-any(.titlebar-placeholder, .titlebar-spacer)type=post-tabs]
{
	width: 0 !important;
}

/* add space at end of tab bar if no buttons present */
#TabsToolbar:-moz-any(
	[currentset$="tabbrowser-tabs"],
	[currentset$="tabbrowser-tabs,alltabs-button"],
	[currentset$="tabbrowser-tabs,new-tab-button"],
	[currentset$="tabbrowser-tabs,alltabs-button,new-tab-button"],
	[currentset$="tabbrowser-tabs,new-tab-button,alltabs-button"]
) :-moz-any(.titlebar-placeholder, .titlebar-spacer)[type=post-tabs]
{
	width: 46px !important;
}

#tabbrowser-tabs:not([overflow]) .arrowscrollbox-scrollbox
{
	margin: 0 -8px !important;
	padding-inline-start: 8px !important;
}

#tabbrowser-tabs .scrollbox-innerbox
{
	margin: 0 8px !important;
}

/* vertically center buttons in tab scroll area */
#tabbrowser-tabs :-moz-any(.toolbarbutton-1, .scrollbutton-up, .scrollbutton-down)
{
	margin-top: calc((var(--tab-min-height) - var(--button-size)) / 2) !important;
	margin-bottom: calc((var(--tab-min-height) - var(--button-size)) / 2) !important;
}

.tabbrowser-tab
{
	min-height: var(--tab-min-height) !important;
	overflow: visible !important;
	font-size: 12px !important;
	background: 0 !important;
	border: 0 !important;
}

/* neighbouring tabs should "pinch" together */
.tabbrowser-tab:not([last-visible-tab])
{
	margin-inline-end: -.5px !important;
}

/* special case for pinned tabs when overflowing */
#tabbrowser-tabs:not([overflow]) .tabbrowser-tab:not([first-visible-tab]),
#tabbrowser-tabs[overflow] .tabbrowser-tab:not([first-visible-tab]):not([pinned])
{
	margin-inline-start: -.5px !important;
}

#tabbrowser-tabs[overflow] .tabbrowser-tab:not([first-visible-tab])[pinned] .tab-stack
{
	margin-inline-start: -2px !important;
}

.tab-content
{
	position: relative !important;
	overflow: hidden !important;
	padding-inline-start: 12px !important;
	padding-inline-end: 8px !important;
}

.tab-content::before,
.tab-content::after
{
	content: "" !important;
	display: -moz-box !important;
	position: absolute !important;
	background-color: currentColor !important;
	width: 1px !important;
	height: 20px !important;
	transform: translateY(-10px) !important;
	opacity: 0 !important;
	transition: opacity .2s var(--ease-basic) !important;
}

.tab-content::before
{
	left: 0 !important;
}

.tab-content::after
{
	right: 0 !important;
}

.tab-throbber,
.tab-throbber-fallback,
.tab-icon-image,
.tab-sharing-icon-overlay,
.tab-icon-sound,
.tab-close-button
{
	margin-top: 0 !important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after,
.tab-line
{
	display: none !important;
}

.tab-background
{
	-moz-context-properties: fill, fill-opacity !important;
	background-color: transparent !important;
	background-image:
		-moz-image-rect(url(tab.svg), 0, 25%, 25%, 0),
		-moz-image-rect(url(tab.svg), 0, 100%, 25%, 75%),
		-moz-image-rect(url(tab.svg), 25%, 25%, 75%, 0),
		-moz-image-rect(url(tab.svg), 25%, 100%, 75%, 75%),
		-moz-image-rect(url(tab.svg), 75%, 25%, 100%, 0),
		-moz-image-rect(url(tab.svg), 75%, 100%, 100%, 75%),
		-moz-image-rect(url(tab.svg), 0, 75%, 100%, 25%) !important;
	background-size:
		16px 8px, 16px 8px,
		16px calc(100% - 16px), 16px calc(100% - 16px),
		16px 8px, 16px 8px,
		calc(100% - 32px) 100% !important;
	background-position:
		left top, right top,
		left 8px, right 8px,
		left bottom, right bottom,
		16px top !important;
	background-repeat: no-repeat !important;
	background-attachment: local !important;
	margin: 0 -8px !important;
	border: 0 !important;
	transition:
		fill .2s var(--ease-basic),
		fill-opacity .2s var(--ease-basic) !important;
	fill: var(--toolbar-bgcolor) !important;
	fill-opacity: 0 !important;
	
	/* required due to negative margin */
	pointer-events: none !important;
}

.tabbrowser-tab[visuallyselected][style*=transform] + .tabbrowser-tab[style*=transform] .tab-content::after,
.tabbrowser-tab[style*=transform]:not([visuallyselected]) .tab-content::before,
.tabbrowser-tab[style*=transform] + .tabbrowser-tab:not([visuallyselected]) .tab-content::before,
.tabbrowser-tab:not([visuallyselected]):not(:hover):not([multiselected]) + .tabbrowser-tab:not([visuallyselected]):not(:hover):not([multiselected]) .tab-content::before,
#tabbrowser-tabs[hasadjacentnewtabbutton] .tabbrowser-tab[last-visible-tab]:not([visuallyselected]):not(:hover):not([multiselected]) .tab-content::after
{
	opacity: var(--tab-separator-opacity) !important;
}

.tabbrowser-tab:hover .tab-background
{
	fill-opacity: var(--tab-hover-fill-opacity) !important;
}

.tabbrowser-tab[multiselected] .tab-background
{
	fill-opacity: var(--tab-focus-fill-opacity) !important;
}

.tabbrowser-tab[visuallyselected]
{
	color: var(--toolbar-color) !important;
}

.tabbrowser-tab[visuallyselected] .tab-background
{
	transition: none !important;
	fill-opacity: 1 !important;
}

.tab-throbber,
.tab-throbber-fallback
{
	margin-inline-end: 8px !important;
}

.tab-icon-image
{
	margin: 0 !Important;
}

/* hide new tab favicon */
.tabbrowser-tab[image^="chrome://branding/"]:not([pinned]) .tab-icon-image
{
	display: none !important;
}

.tab-label-container
{
	margin-top: -2px !important;
	opacity: 1 !important;
}

.tabbrowser-tab[image]:not([image^="chrome://branding/"]) .tab-label-container,
.tabbrowser-tab:-moz-any([progress], [busy]) .tab-label-container
{
	padding-inline-start: 8px !important;
}

.tabbrowser-tab[fadein] .tab-close-button
{
	visibility: visible !important;
}

.tab-close-button
{
	list-style-image: url(close-tab.svg) !important;
	width: 16px !important;
	height: 16px !important;
	margin: 0 !important;
	padding: 0 !important;
	border-radius: 99px !important;
	transition-property: fill-opacity, background-color !important;
	transition-duration: .15s !important;
	transition-timing-function: var(--ease-basic) !important;
	fill-opacity: 1 !important;
}

.tab-close-button:hover
{
	background-color: var(--toolbarbutton-hover-background) !important;
}

.tab-close-button:hover:active
{
	background-color: var(--toolbarbutton-active-background) !important;
}

.tab-throbber
{
	-moz-context-properties: fill, fill-opacity !important;
	fill: currentColor !important;
	fill-opacity: .7 !important;
	background-image: url(spinner-busy.svg) !important;
	margin: 0 !important;
}

.tab-throbber::before,
.tab-throbber-fallback
{
	display: none !important;
}

.tab-throbber[progress]
{
	fill: var(--tab-loading-fill) !important;
	fill-opacity: 1 !important;
	background-image: url(spinner-progress.svg) !important;
}

/* clipped tabs */
#tabbrowser-tabs[closebuttons=activetab] .tab-content:not([pinned])
{
	padding-inline-start: 8px !important;
}

#tabbrowser-tabs[closebuttons=activetab] .tabbrowser-tab:not([visuallyselected]) .tab-close-button
{
	visibility: collapse !important;
}

#tabbrowser-tabs[closebuttons=activetab] .tab-label-container[textoverflow][labeldirection="ltr"]:not([pinned]),
#tabbrowser-tabs[closebuttons=activetab] .tab-label-container[textoverflow]:not([labeldirection]):-moz-locale-dir(ltr):not([pinned])
{
    mask-image: linear-gradient(to right, black 70%, transparent) !important;
}

#tabbrowser-tabs[closebuttons=activetab] .tab-label-container[textoverflow][labeldirection="rtl"]:not([pinned]),
#tabbrowser-tabs[closebuttons=activetab] .tab-label-container[textoverflow]:not([labeldirection]):-moz-locale-dir(rtl):not([pinned])
{
    mask-image: linear-gradient(to left, black 70%, transparent) !important;
}

/* overflowing and pinned tabs */
#tabbrowser-tabs[overflow] .tabbrowser-tab[pinned]
{
	/* gives scrollbutton-up extra room */
	transform: translateX(-8px) !important;
}

.tab-content[pinned]
{
	-moz-box-pack: center !important;
}

.tab-icon-image[pinned]
{
	margin: auto !important;
}

.tab-content[pinned]
{
	width: 36px !important;
	padding: 0 !important;
	padding-inline-start: 0 !important;
	padding-inline-end: 0 !important;
}

:-moz-any(.tab-label-container, .tab-close-button)[pinned]
{
	display: none !important;
}

/* close button / favicon is centered within 36px tab */
@supports -moz-bool-pref("materialFox.reduceTabOverflow")
{
	#tabbrowser-tabs[overflow] .tab-content
	{
		-moz-box-pack: center !important;
	}
	
	#tabbrowser-tabs[overflow] .tab-icon-image
	{
		margin: auto !important;
	}
	
	#tabbrowser-tabs[overflow] .tab-content[image]:not([image^="chrome://branding/"]):not([pinned])
	{
		width: 36px !important;
		padding: 0 !important;
		padding-inline-start: 0 !important;
		padding-inline-end: 0 !important;
	}
	
	#tabbrowser-tabs[overflow] .tabbrowser-tab:not([visuallyselected]):not([pinned]) .tab-close-button,
	#tabbrowser-tabs[overflow] .tabbrowser-tab[visuallyselected]:not([pinned]) :-moz-any(.tab-label-container, .tab-icon-image),
	#tabbrowser-tabs[overflow] .tabbrowser-tab[image]:not([image^="chrome://branding/"]):not([pinned]) .tab-label-container
	{
		display: none !important;
	} 
}

#tabbrowser-tabs .tabs-newtab-button
{
	margin-inline-start: 6px !important;
}

.tabs-newtab-button,
/* Simple New Tab Button */
#TabsToolbar #_42b6f73f-e197-466e-9059-bd40982e88ce_-browser-action
{
	list-style-image: url(new-tab.svg) !important;
}

.arrowscrollbox-overflow-start-indicator,
.arrowscrollbox-overflow-end-indicator
{
	width: 1px !important;
	margin: 7px -.5px !important;
	background: currentColor !important;
	opacity: var(--tab-separator-opacity) !important;
}

/* macOS */
@media (-moz-mac-yosemite-theme)
{
	#titlebar-buttonbox-container
	{
		-moz-box-align: start !important;
		margin-inline-start: 0 !important;
		margin-block-start: 10px !important;
	}
	
	:root[extradragspace] #titlebar-buttonbox-container
	{
		margin-block-start: 13px !important;
	}
}

/* high DPI adjustments */
@media (min--moz-device-pixel-ratio: 2)
{
	.tabbrowser-tab::before,
	.arrowscrollbox-overflow-start-indicator,
	.arrowscrollbox-overflow-end-indicator
	{
		transform: translateY(.5px) !important;
	}

	.tabbrowser-tab:last-of-type::after
	{
		transform: translate(-1px, .5px) !important;
	}
	
	/* macOS */
	@media (-moz-mac-yosemite-theme)
	{
		#titlebar-buttonbox-container
		{
			margin-block-start: 9.5px !important;
		}
		
		:root[extradragspace] #titlebar-buttonbox-container
		{
			margin-block-start: 13.5px !important;
		}
	}
}