@media (-moz-windows-compositor)
{
	@media not all and (-moz-os-version: windows-win7)
	{
		@media not all and (-moz-os-version: windows-win8)
		{
			@media (-moz-windows-default-theme)
			{
				:root[sizemode=normal][tabsintitlebar]:-moz-window-inactive:not(:-moz-lwtheme)
				{
					border-top-color: hsl(0, 0%, 64%) !important;
					background-color: -moz-win-accentcolor !important;
					background-image: linear-gradient(hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5)) !important;
				}
				
				:root[tabsintitlebar] #titlebar-buttonbox
				{
					height: 29px !important;
					margin-bottom: 5px !important;
				}
				
				:root[tabsintitlebar][sizemode=normal] #titlebar-buttonbox
				{
					margin-bottom: calc(5px + var(--space-above-tabbar)) !important;
				}
			}
		}
	}
}

#navigator-toolbox :-moz-any(toolbar, #nav-bar-customization-target)
{
	-moz-box-align: center !important;
}

#navigator-toolbox :-moz-any(.toolbarbutton-1, .bookmark-item:not(.subviewbutton), .scrollbutton-up, .scrollbutton-down)
{
	border-radius: 99px !important;
	transition-property:
		background-color,
		background-size,
		fill-opacity !important;
	transition-duration: .3s !important;
	transition-timing-function:
		var(--ease-basic),
		var(--ease-out),
		var(--ease-basic) !important;

	fill: currentColor !important;
	fill-opacity: 0 !important;

	background-image:
		url(circle.svg),
		url(circle.svg) !important;
	background-size: 25% !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-color: transparent !important;
}

#navigator-toolbox :-moz-any(.toolbarbutton-1, .bookmark-item:not(.subviewbutton), .scrollbutton-up, .scrollbutton-down)
{
	font-size: 12px !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 2px solid transparent !important;
	background-clip: padding-box !important;
}

#navigator-toolbox :-moz-any(.toolbarbutton-1, .bookmark-item:not(.subviewbutton), .scrollbutton-up, .scrollbutton-down)[disabled]
{
	opacity: .42 !important;
}

#navigator-toolbox :-moz-any(.toolbarbutton-1, .bookmark-item:not(.subviewbutton), .scrollbutton-up, .scrollbutton-down):hover:not([disabled]),
#navigator-toolbox :-moz-any(.toolbarbutton-1, .bookmark-item:not(.subviewbutton), .scrollbutton-up, .scrollbutton-down):-moz-any(:hover:active, [checked], [open]):not([disabled])
{
	background-color: var(--toolbarbutton-hover-background) !important;
}

#navigator-toolbox :-moz-any(.toolbarbutton-1, .bookmark-item:not(.subviewbutton), .scrollbutton-up, .scrollbutton-down):-moz-any(:hover:active, [checked], [open]):not([disabled])
{
	fill-opacity: .04 !important;
	background-size: 100% !important;
}

#navigator-toolbox :-moz-any(.toolbarbutton-icon, .toolbarbutton-badge-stack)
{
	fill-opacity: 1 !important;
	border: 0 !important;
	box-shadow: none !important;
}

#navigator-toolbox .toolbarbutton-1 > .toolbarbutton-icon
{
	width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
	height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
}

#navigator-toolbox > #PersonalToolbar .toolbarbutton-1 > .toolbarbutton-icon,
#navigator-toolbox :-moz-any(.toolbarbutton-1, .scrollbutton-up, .scrollbutton-down) > :-moz-any(.toolbarbutton-icon, .toolbarbutton-badge-stack)
{
	padding: 6px !important;
	background: 0 !important;
}

/* high DPI adjustments */
@media (min--moz-device-pixel-ratio: 2)
{
 	#navigator-toolbox::after
	{
		-moz-appearance: none !important;
		background-color: var(--toolbar-bgcolor) !important;
		box-shadow: inset 0 -.5px var(--toolbox-border-bottom-color) !important;
	}
}