#nav-bar
{
	min-height: 36px !important;
	box-shadow: none !important;
	padding-left: 6px !important;
	padding-right: 6px !important;
}

#reload-button[disabled]:not(:-moz-window-inactive) > .toolbarbutton-icon
{
	opacity: 1 !important;
}

#navigator-toolbox :-moz-any(#back-button, #forward-button)
{
	list-style-image: url(arrow-back-1x.svg) !important;
}

/* Windows */
#navigator-toolbox #PanelUI-button
{
	border: none !important;
	margin: 0 !important;
}

#navigator-toolbox #PanelUI-menu-button
{
	list-style-image: url(menu.svg) !important;
}

#navigator-toolbox #reload-button
{
	list-style-image: url(refresh-1x.svg) !important;
}

#navigator-toolbox #stop-button
{
	list-style-image: url(stop-1x.svg) !important;
}

#navigator-toolbox #forward-button
{
	transform: scaleX(-1) !important;
}

#navigator-toolbox #home-button
{
	list-style-image: url(home-1x.svg) !important;
}

#navigator-toolbox #sync-button
{
	list-style-image: url(profile.svg) !important;
}

#navigator-toolbox #sync-button .toolbarbutton-icon
{
	transform: scale(calc(1 + 1 / 16));
}

#urlbar-container,
#searchbar-container
{
	overflow: visible !important;
	padding: 0 5px !important;
}

#urlbar,
#searchbar
{
	font-size: 14px !important;
	border-radius: 99px !important;
	background-color: var(--toolbar-field-background-color) !important;
	color: inherit !important;
	border: 0 !important;
	box-shadow: none !important;
	margin: 1px !important;
	padding: 2px !important;
	background-clip: padding-box !important;
	min-height: 28px !important;
	transition: background-color .1s var(--ease-basic) !important;
}

#urlbar:hover,
#searchbar:hover
{
	background-color: var(--toolbar-field-hover-background-color) !important;
}

#urlbar[focused],
#searchbar[focused]
{
	background-color: var(--toolbar-field-focus-background-color) !important;
	border: 2px solid var(--toolbar-field-focus-border-color) !important;
	padding: 1px !important;
	margin: 0 !important;
}

#identity-box
{
	padding: 0 8px !important;
	margin: 0 !important;
	border: 0 !important;
	position: relative !important;
	background: 0 !important;
}

#urlbar[pageproxystate=valid] > #identity-box:not(.no-hover) > #identity-icon
{
	fill-opacity: 1 !important;
}

#identity-icon-labels
{
	padding-inline-start: 10px !important;
	color: inherit !important;
}

#urlbar[pageproxystate=valid] #identity-box:-moz-any(.notSecureText, .verifiedIdentity, .chromeUI, .extensionPage, .certUserOverridden),
#urlbar-display-box
{
	overflow: visible !important;
	margin-inline-end: 8px !important;
}

/* separator */
#urlbar[pageproxystate=valid] #identity-box:-moz-any(.notSecureText, .verifiedIdentity, .chromeUI, .extensionPage, .certUserOverridden)::after,
#urlbar-display-box::after
{
	content: "" !important;
	display: -moz-box !important;
	background: #9d9e9f !important;
	height: 16px !important;
	width: 1px !important;
	transform: translateX(8px) !important;
	transition: opacity .2s var(--ease-basic) !important;
}

#urlbar[pageproxystate=valid] #identity-box:-moz-any(.notSecureText, .verifiedIdentity, .chromeUI, .extensionPage, .certUserOverridden):hover:not(.no-hover)::after,
#urlbar[pageproxystate=valid] #identity-box:-moz-any(.notSecureText, .verifiedIdentity, .chromeUI, .extensionPage, .certUserOverridden)[open]::after
{
	opacity: 0 !important;
}

#urlbar[pageproxystate=valid] > #identity-icon
{
	list-style-image: url(info-1x.svg) !important;
}

#urlbar[pageproxystate=valid] > #identity-box:-moz-any(.verifiedDomain, .verifiedIdentity) > #identity-icon
{
	list-style-image: url(connection-1x.svg) !important;
}

#urlbar[pageproxystate=valid] > #identity-box.chromeUI > #identity-icon
{
	list-style-image: url(identity-icons-brand.svg) !important;
}

#identity-box > image
{
	fill: currentColor !important;
	fill-opacity: 1 !important;
}

#identity-box.extensionPage > #identity-icon
{
	list-style-image: none !important;
	margin-inline-end: -16px !important;
}

/* no longer used as a connection icon */
#connection-icon
{
	display: none !important;
	list-style-image: url(naughty-shield-1x.svg) !important;
}

#identity-box:-moz-any(
.mixedActiveBlocked,
.mixedDisplayContentLoadedActiveBlocked,
.mixedActiveContent) > #connection-icon
{
	display: -moz-box !important;
}

#urlbar[pageproxystate=valid] > #identity-box:-moz-any(
.certUserOverridden,
.weakCipher,
.mixedActiveContent,
.insecureLoginForms) > #identity-icon
{
	list-style-image: url(connection-warning-1x.svg) !important;
}

#identity-box:-moz-any(.certUserOverridden, .insecureLoginForms)
{
	color: #c94031 !important;
}

.certUserOverridden #identity-icon-labels
{
	visibility: visible !important;
	display: -moz-box !important;
}

.certUserOverridden #identity-icon-labels::after
{
	content: "Not Secure" !important;
	display: -moz-box !important;
}

.urlbar-input
{
	padding: 0 !important;
}

.searchbar-textbox
{
	border: 0 !important;
	background: 0 !important;
	box-shadow: none !important;
	margin: 0 !important;
}

#page-action-buttons > #pageActionSeparator,
.urlbar-history-dropmarker
{
	display: none !important;
}

#pageActionSeparator
{
	height: 24px !important;
}

.urlbar-icon-wrapper
{
	background: 0 !important;
}

.urlbar-icon,
#identity-box
{
	min-width: 32px !important;
	height: 24px !important;
	padding: 4px 8px !important;
	border-radius: 99px !important;
	fill-opacity: 1 !important;
	transition: background-color .2s var(--ease-basic);
	background-color: transparent !important;
}

.urlbar-icon:hover:not([disabled]),
#identity-box:hover:not(.no-hover)
{
	background-color: var(--toolbarbutton-hover-background) !important;
}

.urlbar-icon:hover:active:not([disabled]),
.urlbar-icon[open],
#identity-box:hover:active:not(.no-hover),
#identity-box[open]:not(.no-hover)
{
	background-color: var(--toolbarbutton-active-background) !important;
	transition-duration: 0 !important;
}

#pageActionButton
{
	list-style-image: url(menu.svg) !important;
}

.urlbar-page-action:not(#star-button-box)
{
	transition:
		background-color .2s var(--ease-basic),
		margin .15s var(--ease-in),
		opacity .15s var(--ease-basic),
		visibility 0s .2s !important;
	opacity: 0 !important;
	visibility: hidden !important;
	margin-inline-start: -32px !important;
}

#urlbar:hover .urlbar-page-action:not(#star-button-box),
.urlbar-page-action:not(#star-button-box):-moz-any(:hover, [open], [readeractive])
{
	transition:
		background-color .2s var(--ease-basic),
		margin .3s var(--ease-out),
		opacity .3s var(--ease-basic) !important;
	opacity: 1 !important;
	visibility: visible !important;
	margin-inline-start: 0 !important;
}

#star-button
{
	list-style-image: url(star-1x.svg) !important;
	fill-opacity: 0 !important;
}

#star-button[starred]
{
	fill: var(--toolbarbutton-icon-fill-attention) !important;
	fill-opacity: 1 !important;
}

#star-button-animatable-box
{
	display: none !important;
}

/* high DPI adjustments */
@media (min--moz-device-pixel-ratio: 2)
{
	#navigator-toolbox :-moz-any(#back-button, #forward-button)
	{
		list-style-image: url(arrow-back-2x.svg) !important;
	}

	#navigator-toolbox #PanelUI-menu-button .toolbarbutton-icon
	{
		transform: translate(-.5px, -.5px) !important;
	}

	#navigator-toolbox #stop-button
	{
		list-style-image: url(stop-2x.svg) !important;
	}

	#navigator-toolbox #reload-button
	{
		list-style-image: url(refresh-2x.svg) !important;
	}
	
	#navigator-toolbox #home-button
	{
		list-style-image: url(home-2x.svg) !important;
	}

	#navigator-toolbox #star-button
	{
		list-style-image: url(star-2x.svg) !important;
	}
	
	#identity-icon-labels
	{
		padding-inline-end: .5px !important;
	}

	#urlbar[pageproxystate=valid] > #identity-box:-moz-any(.unknownIdentity, .notSecure) > #identity-icon
	{
		list-style-image: url(info-2x.svg) !important;
		transform: translate(.5px, .5px) !important;
	}
	
	#urlbar[pageproxystate=valid] > #identity-box:-moz-any(.verifiedDomain, .verifiedIdentity) > #identity-icon
	{
		list-style-image: url(connection-2x.svg) !important;
	}
	
	#urlbar[pageproxystate=valid] > #identity-box:-moz-any(
	.certUserOverridden,
	.weakCipher,
	.mixedActiveContent,
	.insecureLoginForms) > #identity-icon
	{
		list-style-image: url(connection-warning-2x.svg) !important;
	}
	
	#connection-icon
	{
		list-style-image: url(naughty-shield-2x.svg) !important;
	}

	#identity-icon-labels,
	.urlbar-input,
	.searchbar-input
	{
		transform: translateY(-.5px) !important;
	}
}