@import "global/variables.css";
@import "global/global.css";
@import "tabbar/tabbar.css";
@import "navbar/navbar.css";
@import "personalbar/personalbar.css";

#navigator-toolbox {margin-top: -81px; transition: all 0.2s ease-in;}
#navigator-toolbox:hover {margin-top: 0px; transition: all 0.2s ease;}
#main-window #navigator-toolbox:focus-within {margin-top: 0px; transition: all 0.2s ease;}
