menupopup,
menupopup menuitem,
menupopup menu,
menupopup menuseparator
{
	-moz-appearance: none !important;
}

menupopup
{
	-moz-window-shadow: none !important;
	background: 0 !important;
	color: var(--arrowpanel-color) !important;
	margin-left: -14px !important;
	margin-top: -19px !important;
}

.popup-internal-box
{
	margin: 11px 14px 18px !important;
	padding: 8px 0 !important;
	background: var(--arrowpanel-background) !important;
	border-radius: 4px !important;
	box-shadow:
		0 5px 5px -3px rgba(0,0,0,.2),
		0 8px 10px 1px rgba(0,0,0,.14),
		0 3px 14px 2px rgba(0,0,0,.12) !important;
}

menupopup menuseparator
{
	margin: 8px 0 !important;
	padding: 0 !important;
	height: 1px !important;
	background: currentColor !important;
	opacity: .12 !important;
}

menupopup menuitem,
menupopup menu
{
	height: 32px !important;
	padding: 0 16px !important;
	border: 0 !important;
	background: 0 !important;
	color: inherit !important;
}

menupopup menuitem:hover:not([disabled=true]),
menupopup menu:hover:not([disabled=true])
{
	
	background-color: var(--arrowpanel-dimmed) !important;
}

menupopup menuitem:hover:active:not([disabled=true]),
menupopup menu:hover:active:not([disabled=true])
{
	background-color: var(--arrowpanel-dimmed-further) !important;
}

menupopup menuitem[disabled=true],
menupopup menu[disabled=true]
{
	opacity: .5 !important;
}

.menu-iconic-icon
{
	fill: inherit !important;
	-moz-context-properties: fill, fill-opacity, stroke, stroke-opacity !important;
	margin-inline-end: 16px !important;
	width: 24px !important;
	height: 24px !important;
	padding: 4px !important;
}

.menu-right
{
	-moz-appearance: none !important;
	-moz-context-properties: fill !important;
	fill: currentColor !important;
	list-style-image: url(menu-right-2x.svg) !important;
	margin-inline-end: 0 !important;
	margin-inline-start: 16px !important;
}

menuitem[checked=true] .menu-iconic-icon
{
	/* checkmark is 18px, not 16px, hence reduced padding */
	list-style-image: url(checkmark-18dp.svg) !important;
	padding: 3px !important;
}

#context-navigation .menuitem-iconic
{
	background: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}

#context-navigation .menu-iconic-left
{
	border-radius: 50% !important;
	padding: 8px !important;
}

#context-navigation .menu-iconic-icon
{
	padding: 0 !important;
	margin: 0 !important;
	width: 16px !important;
	height: 16px !important;
}

#context-navigation .menuitem-iconic:hover:not([disabled]) .menu-iconic-left
{
	background-color: var(--arrowpanel-dimmed) !important;
}

#context-navigation .menuitem-iconic:hover:active:not([disabled]) .menu-iconic-left
{
	background-color: var(--arrowpanel-dimmed-further) !important;
}